<footer class="container">
<div class="row">
        <div class="col-md-3">
            <h2>Maman</h2>
            <p>Heures de service</p>
            <p>06:00 - 00:00</p>
            <div class="rs">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="col-md-2">
            <ul>
                <li><a href="#">P'Tits Dej</a></li>
                <li><a href="#">Dej</a></li>
                <li><a href="#">Gouter</a></li>
                <li><a href="#">Diner</a></li>
                <li><a href="#">Boissons</a></li>
            </ul>
        </div>
        <div class="col-md-2 text-right">
            <h3><a  href="tel:+22541310946">+22541310946</a></h3>
            <p>Angre Gestoci, non loin du nouveau CHU, Ecole NaN</p>
        </div>
        <div class="offset-md-1 col-md-4">
            <form action="" method="post">
                <h3>Newsletter</h3>
                <div class="form-group">
                  <input type="email" class="form-control" name="mail" placeholder="Votre mail">
                </div>
                <button type="submit" class="btn btn-primary">S'inscrire a la Newsletter</button>
            </form>
            
        </div>
</div>
</footer>
<script src="/socket.io/socket.io.js">
</script>
<script src="public/jquery.js"></script>
<script src="public/wowjs/dist/wow.min.js"></script>
<script src="public/bootstrap/js/bootstrap.min.js"></script>
<script src="public/script.js"></script>
</body>
</html>