<header class="container">
<div class="row header">
    <div class="col-md-4">
        <h3>+225 41-31-09-46</h3>
    </div>
    <div class="col-md-4">
        <h1><a href="/">Maman</a></h1>
        <p>Heures de service <span class="text-warning"> 05:00 - 00:00</span></p>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-lg panier" id="togglePanier">
            <h6>
                <span class="badge badge-success" id='notifsCart'>
                    <%= DynInfos.prices[1] %>
                </span>
            </h6><i class="fas fa-shopping-cart"></i>
        </button>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="hamburger">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="nav-content">
            <li class="nav-item active">
                <a class="nav-link" href="/">Acceuil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pdej">P'tit Dej</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dej">Dejeuner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dessert">Desserts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/diner">Diner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/boissons">Boissons</a>
            </li>
            <div class='row d-md-none d-xl-none'>
                <div class="col">
                    <li class="nav-item text-center">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#connexionModal">
                            <i class="fas fa-lock"></i> Se connecter
                        </button>
                    </li>
                </div>
                <div class="col">
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">S'inscrire</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</nav>
</header>
