<div class="navTop d-none d-md-block">
    <div class="container">
        <ul>
            <div class="left">
                <li><a href="#">A propos de nous</a></li>
                <li><a href="#">Paiement et livraison</a></li>
                <li><a href="#">remises</a></li>
                <li><a href="#">Contacts</a></li>
            </div>
        </ul>
    </div>
</div>