<div class="col-md-2" id="facture">
    <h3 class="text-center pageTitle" id="panierTitle">Mes commandes</h3>
    <div class='titleDecoration'></div>
    <ul class="list-group">

    </ul>
    <p class="total">Total : <span id="totalAchats"></span> Frs.CFA</p>
    <button class="btn btn-block btn-info">Passer a la caisse</button>
</div>