<% include ./partials/head %>
<% include ./partials/navTop %>
<% include ./partials/header %>
<% include ./partials/panier %>

<section>
    <div class="container">
        <div class="alert alert-warning offset-1 col-10" role="alert" style="margin: 30px auto;">
            <h2 class="text-center">Vous devez d'abord vous connecter avant de pouvoir passer a la caisse</h2>
        </div>
    </div>

</section>

<% include ./partials/footer %>