<% include ./partials/head %>
<% include ./partials/navTop %>
<% include ./partials/header %>
<% include ./partials/panier %>

<!-- Contenu-->
<h2 class='text-center pageTitle'>Vos Boissons</h2>
<div class='titleDecoration'></div>

<section class="container foods">
        <div class="row">
            <% plats.forEach(function (plat) {
                var path = '../public/images/boissons/' + plat.poster;
            if (plat.idType === 5) {
            %>
                <%- include partials/plat.ejs %>
            <% }}); %>
        </div>
    </section>

<!--Fin contenu-->
<% include ./partials/footer %>