<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="public/animate.css">
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/style.css">
    <title>Document</title>
</head>
<body>
    <section class="container foods">
        <div class="row">
            <div class="col-md-4">
                    <div class="plat">
                            <div class="imagePlat">
                                <img src="./public/images/ptiDej/ptiDej2.jpg" alt="" class="img-fluid img-thumbnail">      
                            </div>
                            <h4 class="nom text-center text-success">Petit dej</h4>
                            <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>
                            <div>
                                <button class="btn btn-block btn-info">Ajouter au panier <i class="fas fa-cart-plus"></i></button>
                            </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="plat">
                            <div class="imagePlat">
                                <img src="./public/images/ptiDej/ptiDej2.jpg" alt="" class="img-fluid img-thumbnail">      
                            </div>
                            <h4 class="nom text-center text-success">Petit dej</h4>
                            <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>
                            <div>
                                <button class="btn btn-block btn-info">Ajouter au panier <i class="fas fa-cart-plus"></i></button>
                            </div>
                    </div>
            </div>
            <div class="col-md-4">
                    <div class="plat">
                            <div class="imagePlat">
                                <img src="./public/images/ptiDej/ptiDej2.jpg" alt="" class="img-fluid img-thumbnail">      
                            </div>
                            <h4 class="nom text-center text-success">Petit dej</h4>
                            <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>
                            <div>
                                <button class="btn btn-block btn-info">Ajouter au panier <i class="fas fa-cart-plus"></i></button>
                            </div>
                    </div>
            </div>
        </div>
    </section>

    
    <script src="public/jquery.js"></script>
    <script src="public/wowjs/dist/wow.min.js"></script>
    <script src="public/bootstrap/js/bootstrap.min.js"></script>
    <script src="public/script.js"></script>
</body>
</html>