<% include ./partials/navTopC %>
<% include ./partials/head %>
<% include ./partials/headerC %>
<% include ./partials/panier %>
<!-- Contenu-->
<h2 class='text-center pageTitle'>Le dejeuner</h2>
<div class='titleDecoration'></div>

<section class="container foods">
        <div class="row">
            <div class="row">
                <% plats.forEach(function (plat) {
                    var path = '../public/images/dej/' + plat.poster;
                if (plat.idType === 2) {
                %>
                    <%- include partials/plat %>
                <% }}); %>
            </div>
        </div>
    </section>

<!--Fin contenu-->
<% include ./partials/footer %>