<% include ./partials/head %>
<% include ./partials/navTop %>
<% include ./partials/header %>
<% include ./partials/panier %>

<!-- Contenu-->

<h2 class='text-center pageTitle'>Vos desserts</h2>
<div class='titleDecoration'></div>
<section class="container foods">
        <div class="row">
            <div class="row">
                <% plats.forEach(function (plat) {
                    var path = '../public/images/desserts/' + plat.poster;
                if (plat.idType === 3) {
                %>
                    <%- include partials/plat.ejs %>
                <% }}); %>
            </div>
        </div>
    </section>

<!--Fin contenu-->
<% include ./partials/footer %>