<% include partials/navTopC.ejs %>
<% include partials/head.ejs %>
<% include partials/headerC.ejs %>
<% include ./partials/panier %>


<section>
        <h2 class='text-center pageTitle'>Ce que vous avez recemment commande</h2>
		<div class='titleDecoration'></div>
        <div class="container foods">
        	<div class="row">
            <% if (history.length > 0) {
            	
            	history.forEach(function (plat) {
            	var path = 'aaaa';
            	switch(plat.idType) {
            		case 1 : path = '../public/images/ptiDej/' + plat.poster;
            		break
            		case 2 : path = '../public/images/dej/' + plat.poster;
            		break
            		case 3 : path = '../public/images/desserts/' + plat.poster;
            		break
            		case 4 : path = '../public/images/diner/' + plat.poster;
            		break 
            		case 5 : path = '../public/images/boissons/' + plat.poster;
            		break
            	} 	
            %>

           	<% include partials/plat %>
            <%	})} else { %>
            <div class="offset-md-3">
            	<h3 class="text-warning text-center">Vous n'avez encore rien commandé</h3>
            </div>
            <% } %>
            </div>
            </div>
        </div>
       
    </section>


<% include ./partials/footer %>