<% include partials/navTopC.ejs %>
<% include partials/head.ejs %>
<% include partials/headerC.ejs %>
<% include ./partials/panier %>


<section class="container">
        <h2 class="text-center">Des menus pensés pour vous</h2>
        <div class="menuComplet">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">P'tit Dej</h3>
                    <div class="plat">
                        <div class="imagePlat">
                            <img src="./public/images/ptiDej/ptiDej1.jpg" alt="" class="img-fluid img-thumbnail">
                        </div>
                        <h4 class="nom text-center text-success">Petit dej</h4>
                        <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Dej</h3>
                    <div class="plat">
                        <div class="imagePlat">
                            <img src="./public/images/dej/foutou.jpg" alt="" class="img-fluid img-thumbnail">
                        </div>
                        <h4 class="nom text-center text-success">Foutou</h4>
                        <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Diner</h3>
                    <div class="plat">
                        <div class="imagePlat">
                            <img src="./public/images/diner/fast_food_chicken_french_fries_food_fried_chicken_remoulade_cucumbers-881993.jpg" alt="" class="img-fluid img-thumbnail">
                        </div>
                        <h4 class="nom text-center text-success">Frites Poulet</h4>
                        <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>

                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary">Je prends</button>
            </div>
        </div>

        <div class="menuComplet">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">P'tit Dej</h3>
                    <div class="plat">
                        <div class="imagePlat">
                            <img src="./public/images/ptiDej/ptiDej2.jpg" alt="" class="img-fluid img-thumbnail">
                        </div>
                        <h4 class="nom text-center text-success">Petit dej</h4>
                        <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Dej</h3>
                    <div class="plat">
                        <div class="imagePlat">
                            <img src="./public/images/dej/placali.jpg" alt="" class="img-fluid img-thumbnail">
                        </div>
                        <h4 class="nom text-center text-success">placali</h4>
                        <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Diner</h3>
                    <div class="plat">
                        <div class="imagePlat">
                            <img src="./public/images/diner/french_chicken_eat_lunch_poultry_meat_poultry_cook_food-967455.jpg" alt="" class="img-fluid img-thumbnail">
                        </div>
                        <h4 class="nom text-center text-success">Frites Poulet</h4>
                        <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>

                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary">Je prends</button>
            </div>
        </div>
    </section>


<% include ./partials/footer %>