<% include ./partials/head %>
<% include ./partials/navTop %>
<% include ./partials/header %>
<% include ./partials/panier %>
<section>
    <div id="publicites" class="carousel slide carousel-slide" data-ride="carousel">
        <div class="actionBox">
            <h3 class="title">Petit Dejeuner</h3>
            <div class="box-divider"></div>
            <p class="comment">Petit commentaire</p>
            <p>Pour une journee pleine d'energie</p>
            <a class="btn btn-light lien" href="">Voir plus ...</a>
            <ol class="carousel-indicators">
                <li data-target="#publicites" data-slide-to="0" class="active"></li>
                <li data-target="#publicites" data-slide-to="1"></li>
                <li data-target="#publicites" data-slide-to="2"></li>
                <li data-target="#publicites" data-slide-to="3"></li>
            </ol>
        </div>
        <div class="carousel-inner" id="pub">
            <div class="carousel-item active pubPtiDej">

            </div>
            <div class="carousel-item pubDej">

            </div>
            <div class="carousel-item pubGouter">

            </div>

            <div class="carousel-item pubDiner">

            </div>
            <div class="carousel-item boissons">

            </div>
        </div>
        <a class="carousel-control-prev" href="#publicites" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#publicites" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="container">
    <h2 class="text-center">Des menus pensés pour vous</h2>
    <div class="menuComplet">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">P'tit Dej</h3>
                <div class="plat">
                    <div class="imagePlat">
                        <img src="./public/images/ptiDej/ptiDej1.jpg" alt="" class="img-fluid img-thumbnail">
                    </div>
                    <h4 class="nom text-center text-success">Petit dej</h4>
                    <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>

                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Dej</h3>
                <div class="plat">
                    <div class="imagePlat">
                        <img src="./public/images/dej/foutou.jpg" alt="" class="img-fluid img-thumbnail">
                    </div>
                    <h4 class="nom text-center text-success">Foutou</h4>
                    <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Diner</h3>
                <div class="plat">
                    <div class="imagePlat">
                        <img src="./public/images/diner/fast_food_chicken_french_fries_food_fried_chicken_remoulade_cucumbers-881993.jpg" alt="" class="img-fluid img-thumbnail">
                    </div>
                    <h4 class="nom text-center text-success">Frites Poulet</h4>
                    <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>

                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-primary">Je prends</button>
        </div>
    </div>

    <div class="menuComplet">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">P'tit Dej</h3>
                <div class="plat">
                    <div class="imagePlat">
                        <img src="./public/images/ptiDej/ptiDej2.jpg" alt="" class="img-fluid img-thumbnail">
                    </div>
                    <h4 class="nom text-center text-success">Petit dej</h4>
                    <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>

                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Dej</h3>
                <div class="plat">
                    <div class="imagePlat">
                        <img src="./public/images/dej/placali.jpg" alt="" class="img-fluid img-thumbnail">
                    </div>
                    <h4 class="nom text-center text-success">placali</h4>
                    <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Diner</h3>
                <div class="plat">
                    <div class="imagePlat">
                        <img src="./public/images/diner/chicken.jpg" alt="" class="img-fluid img-thumbnail">
                    </div>
                    <h4 class="nom text-center text-success">Frites Poulet</h4>
                    <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maxime voluptatem explicabo animi dolorem soluta nihil ipsa perferendis modi quam illum.</p>

                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-primary">Je prends</button>
        </div>
    </div>
</section>


<% include ./partials/footer %>