<% include ./partials/navTopC %>
<% include ./partials/head %>
<% include ./partials/headerC %>
<% include ./partials/panier %>

<section id="factsInfo">
		
</section>

<% include ./partials/footer %>