<% include ./partials/head %>
<% include ./partials/navTop %>
<section>
    <h1>Votre inscription a bien ete prise en compte</h1>
    <a class="btn btn-lg btn-success" href="/">Cliquez ici pour continuer de faire vos achats </a>
</section>

<% include ./partials/footer %>