<% include ./partials/head %>
<% include ./partials/navTop %>
<section class="container">
	<h1 class='pageTitle'>Votre inscription a bien ete prise en compte</h1>
	<div class="row">
		<div class="offset-4 col-md-4" style="margin-top: 10%;">
			<a class="btn btn-lg btn-success" href="/">Cliquez ici pour continuer de faire vos achats </a>	
		</div>
    	
	</div>
    
</section>

<% include ./partials/footer %>