<% include ./partials/head %>
<% include ./partials/navTop %>
<% include ./partials/header %>
<% include ./partials/panier %>

<!-- Contenu-->
<h1 class='text-center pageTitle'>Le p'tit Dej</h1>
<div class='titleDecoration'></div>

<section class="container foods">
        <div class="row">
            <% plats.forEach(function (plat) {
                var path = '../public/images/ptiDej/' + plat.poster;
            if (plat.idType === 1) {
            %>
                <%- include partials/plat.ejs %>
            <% }}); %>
        </div>
    </section>

<!--Fin contenu-->
<% include ./partials/footer %>